.docs {
  padding: 0 0 100px;
  &__title {
    margin-top: 22px;
    padding: 0 16px;
    font-size: 20px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    &-img {
      min-width: 40px;
    }

    &-title {
      margin-bottom: 4px;
      font-size: 16px;
    }

    &-doc {
      font-size: 15px;
      color: var(--purple);
      cursor: pointer;
    }
  }
}
