.map{
  padding-bottom: 100px;
}

.score-box {
  margin: 0 auto 16px;
  padding: 24px 10px;
  background-color: var(--purple);


  &__score {
    font-size: 24px;
    font-weight: 700;
    color: var(--greyBD);

    &-now {
      font-size: 24px;
      font-weight: 700;
      color: var(--white);
    }
  }

  &__descr {
    font-size: 24px;
    font-weight: 700;
    color: var(--green);
  }
}

.mol-box {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  padding: 0 16px;

  &__text {
    align-self: center;
    border: 1px solid var(--purple);
    border-radius: 24px;
    padding: 16px;
    width: calc(55% - 8px);
  }

  &__img {
    width: calc(45% - 8px);
  }
}

.road {
  position: relative;
  margin: 0 auto 40px;
  width: 390px;

  &__point {
    display: inline-block;
    padding-top: 32px;

    &2 {
      filter: grayscale(50);
    }

    &3 {
      filter: grayscale(50);
    }

    &4 {
      filter: grayscale(50);
      color: green;
    }
  }

  &__stage {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto 10px;
    height: 122px;
    width: 308px;
  }

  &__text-title {
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 700;
    color: var(--purple);
  }

  &__text-descr {
    color: var(--greyBD);
  }

  &__text-score {
    font-weight: 700;
    color: var(--black);
  }

  &__road1 {
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 88px;
    width: 200px;
    color: var(--green);
  }

  &__road2 {
    z-index: -1;
    position: absolute;
    top: 190px;
    left: 88px;
    width: 200px;
    transform: rotateY(180deg);
    color: var(--greyBD);
  }

  &__road3 {
    z-index: -1;
    position: absolute;
    top: 330px;
    left: 88px;
    width: 200px;
    color: var(--greyBD);
  }
}

.map__footer {
  padding: 0 16px;
}

.mood {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--greyF3);

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  &__item {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: transparent;
    background-color: var(--greyD9);
  }
}

.next-lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 32px;
  padding: 19px 100px;
  width: 100%;
  font-size: 18px;
  color: var(--white);
  background-color: var(--purple);
}
