.tasks {
  padding: 0 0 100px;

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    padding: 25px 16px 0;

    &-delimiter {
      z-index: -1;
      position: absolute;
      top: 45px;
      left: 30px;
      height: 110px;
      width: 1px;
      background-color: var(--greyBD);
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &-check {
      z-index: 10;
      position: absolute;
      width: 26px;
      height: 26px;
      top: 1px;
      left: 1px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      // opacity: 0;
      cursor: pointer;

      &:checked + .tasks__item-check-box {
        border-color: transparent;
        background-image: url('../img/check.svg');
      }

      &-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        height: 26px;
        border: 1px solid var(--greyBD);
        border-radius: 100%;
        overflow: hidden;
        background-color: var(--white);
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }

    &-descr {
      margin-left: 36px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
    }

    &-btn {
      margin-left: auto;
      line-height: 0;

      &-img {
        transform: rotateY(180deg);
      }
    }
  }

  &__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;

    &-title {
      margin-bottom: 16px;
      width: 100%;
      text-align: left;
    }

    &-textarea {
      margin-bottom: 32px;
      border: 1px solid var(--purple);
      border-radius: 16px;
      padding: 10px;
      width: calc(100% - 18px);
      height: 105px;
      resize: none;
    }
  }

  &__btn {
    margin: 0 16px;
    border: none;
    border-radius: 32px;
    padding: 19px 0;
    width: calc(100% - 32px);
    font-size: 19px;
    font-weight: 700;

    &-grey {
      margin-bottom: 24px;
      color: var(--purple);
      background-color: var(--greyF3);
    }

    &-purple {
      color: var(--white);
      background-color: var(--purple);
    }
  }

}
